ul {
  margin: 0;
  padding: 0;
  list-style: 0;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
.container {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
